*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 70px 20px 50px 20px;
    position: relative;
}

.container img{
    display: block;
    margin: auto;
    width: 70%;
}

.view-text{
    display: block;
    margin: auto;
    background: rgba(34, 32, 32, 0.559);
    padding: 20px 50px;
    width: 70%;
    border-top-right-radius: 25px;
}

.category-container{
    margin-top: 50px;
}

.view-text h1{
    font-size: 30px;
}

.view-text h5{
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 10px;
}

@media (max-width:768px){
    .view-text h5{
    font-size: 14px;
}
.container{
    padding:70px 0;
}
.view-text{
    width: 90%;
    padding: 10px 0px;
}
.container img{
    width: 100%;
}}
